@model Textbook

<li class="card-body bg-secondary">
    <div class="bg-light p-md-2">
        <h3 class="card-header">Book Title: @Model.Title</h3>
        <p>Author Name: @Model.AuthFirst @Model.AuthLast</p>
        <p>Publisher: @Model.Publisher</p>
        <p>ISBN#: @Model.ISBN</p>
        <p>Classification: @Model.Class</p>
        <p>Category: @Model.Cat</p>
        <p>Price: $@Model.Price</p>
        <p>Page Count: @Model.Pages</p>
        <br />
    </div>
    <form id="@Model.BookId" asp-page="/Cart" method="post">
        <input type="hidden" asp-for="BookId"/>
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-test p-1 text-white">
            @Model.Title
            <button type="submit" class="btn-success" btn-sm pull-right" style="float:right">
                Add to Cart
            </button>
        </span>

    </form>
</li>
<br />
